element.style {
    width: 357px;
}
.body-post p img {
    max-width: 100%!important;
    height: auto!important;
    margin: 0 auto 2rem auto!important;
}
.body-post p img {
    max-width: 100%!important;
    height: auto!important;
    margin: 0 auto 2rem auto!important;
}
.img-responsive {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.img-responsive {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
img {
    border-style: none;
}
img {
    border-style: none;
}
*, *::before, *::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
*, *::before, *::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
img[Attributes Style] {
    height: 420px;
    aspect-ratio: auto 357 / 420;
    width: 357px;
}
user agent stylesheet
img {
    overflow-clip-margin: content-box;
    overflow: clip;
}
.body-post p {
    font-size: 16px;
    color: #101828;
    line-height: 24px;
}
.body-post p {
    font-size: 16px;
    color: #101828;
    line-height: 24px;
}
.body-post {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 3rem 0;
}
.body-post {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 3rem 0;
}
body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-height: 100vh;
    font-family: "Space Grotesk",sans-serif;
}
body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-height: 100vh;
    font-family: "Space Grotesk",sans-serif;
}
html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}
html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}
*, *::before, *::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
*, *::before, *::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
*, *::before, *::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

*, *::before, *::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}